<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<div class="element-browser-panel element-browser-main" style="height: 100%">
    <div class="element-browser-main-content">
        <div class="canto-search-form-container" style="height: 100%">
            <iframe src="https://{assetPickerDomain}/asset-picker/?token={token}&assets_number_limit=1" width="100%" height="100%" />
        </div>
    </div>
</div>

</html>
